<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Falafel Menu Control</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/falafel_style.css" type="text/css" />
    <script src="/assets/js/script.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>