<div class="header">
    <h1>Falafel Menu ESBC</h1>
</div>
<div class="header-container">
    <h2 class="panel-title">Active menu items</h2>
    <h2 class="panel-title">Inactive Menu Items</h2>
</div>
<div class="menu-container">


    <div class="menu-panel">



        {{#each falafel}}
        {{#unless devoured}}
        {{> falafel/menu-item devoured=true}}
        {{/unless}}
        {{/each}}

    </div>

    <div class="menu-panel">


        {{#each falafel}}
        {{#if devoured}}
        {{> falafel/menu-item devoured=false}}
        {{/if}}
        {{/each}}

    </div>
</div>

<div class="add-item-container">
    <h2>Add a Falafel</h2>
    {{!-- TODO: Falafel Form --}}
    <form class="create-form">

        <div class="form-group">
            <label for="falafel">Falafel Type:</label>
            <input type="text" id="falafel" name="falafel">
        </div>

        <button class="submit-button" type="submit">Add Falafel</button>
    </form>
</div>